<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu8fei.common.mybatis.example.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhu8fei.common.mybatis.example.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="modify_time" jdbcType="DATE" property="modifyTime"/>
        <result column="modify_user" jdbcType="BIGINT" property="modifyUser"/>
        <result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName"/>
    </resultMap>

    <update id="update" parameterType="com.zhu8fei.common.mybatis.example.User">
        update u_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=DATE},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null">
                modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insert" parameterType="com.zhu8fei.common.mybatis.example.User">
        insert into u_user (id, name, real_name,
        email, mobile, password,
        salt, is_delete, create_time,
        create_user, create_user_name, modify_time,
        modify_user, modify_user_name)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{salt,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=DATE},
        #{createUser,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE},
        #{modifyUser,jdbcType=BIGINT}, #{modifyUserName,jdbcType=VARCHAR})
    </insert>


    <update id="delete" parameterType="com.zhu8fei.common.mybatis.example.User">
        update u_user
        <set>
            <if test="isDelete != null">
                is_delete = #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=DATE},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=BIGINT},
            </if>
            <if test="modifyUserName != null">
                modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="select"  parameterType="com.zhu8fei.common.mybatis.example.User" resultMap="BaseResultMap">
        select * from u_user
    </select>
</mapper>